<header>
    <nav id="hamnav">
        <!-- [THE HAMBURGER] -->
        <label for="hamburger">&#9776;</label>
        <input type="checkbox" id="hamburger" />

        <!-- [MENU ITEMS] -->
        <div id="hamitems">
            <a href="/">Home</a>
            <a href="/new">Search the Google Books API</a>
        </div>
    </nav>

</header>